{% extends 'layout.html.twig' %}

{% block content %}
    <div class='container text-center pt-5'>
      <div class='row'>
        {% for n in nom %}
          <div class='col-6'>
            <h1>{{n.id}}</h1>
            <p>{{n.nom}}</p>
            <p>{{n.prenom}}</p>
            <p>{{n.email}}</p>
            <p>{{n.mdp}}</p>
            <p>{{n.role_id}}</p>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}