{% extends 'layout.html.twig' %}

{% block content %}
    <div class='container text-center pt-5'>
      <div class='row'>
        {% for n in nom %}
          <div class='col-6'>
            <h1>{{n.id}}</h1>
            <p>{{n.titre}}</p>
            <p>{{n.chapo}}</p>
            <p>{{n.contenu}}</p>
            <p>{{n.date}}</p>
            <p>{{n.user_id}}</p>
            <a href="post/{{n.id}}">Voir plus</a>
            </br>
            <a href="updatepost/{{n.id}}">modifier</a>
            </br>
            <a href="removepost/{{n.id}}">Supprimer</a>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}