{% extends 'layout.html.twig' %}

{% block content %}
    <div class='container text-center pt-5'>
      <div class="row">
        {% for n in comment %}
          <div class="col-sm-6 pt-5">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Message: {{n.message}}</h5>
                <p class="card-text">Date: {{n.date}}</p>
                <p class="card-text">Article_id: {{n.article_id}}</p>
                <form method="post" action="/admin/comment">
                  <label for="FormControlInput1">Statut :</label>
                  <input type="number" name="statut" class="form-control" id="FormControlInput1" value='{{n.statut}}' min=0 max=1>
                  <input type="hidden" name="id" value="{{n.id}}">
                  <button type="submit" class='btn btn-primary'>Modifier</button>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}