{% extends 'layout.html.twig' %}

{% block content %}
    <div class='container text-center pt-5'>
      {% if user is empty %}
          <div class="alert alert-danger pt-5 mt-3" role="alert">
            <h4 class="alert-heading">Aucun utilisateur !</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        {% endif %}
      <div class="row">
        {% for n in user %}
          <div class="col-sm-6 pt-5">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Nom: {{n.nom}}</h5>
                <p class="card-text">Prenom: {{n.prenom}}</p>
                <p class="card-text">Email: {{n.email}}</p>

                <form method="post" action="roles">
                  <label for="FormControlInput1">Role_id :</label>
                  <input type="number" name="role_id" class="form-control" id="FormControlInput1" value='{{n.role_id}}' min=1 max=3>
                  <input type="hidden" name="id" value="{{n.id}}">
                  <br>
                  <button type="submit" class='btn btn-secondary'>Modifier</button>
                  <a href="deleteuser/{{n.id}}" class="btn btn-secondary">Supprimer</a>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}