{% extends 'layout.html.twig' %}

{% block content %}
<section> 
  <div class="container py-5 mt-5">
    <h1 class="text-center">Article</h1>
    {% set titre = '' %}
    {% set chapo = '' %}
    {% set contenu = '' %}
    {% set user_id = '' %}
    {% for n in donnes %}
      {% set titre = n.titre %}
      {% set chapo = n.chapo %}
      {% set contenu = n.contenu %}
      {% set user_id = n.user_id %}
    {% endfor %}
    {% if alert == "success" %}
      <div class="alert alert-success" role="alert">
        La modification à été faite
      </div>
    {% endif %}
    {% if addAlert.titre %}
      <div class="alert alert-danger" role="alert">
        Rentré un titre valide
      </div>
    {% endif %}
    {% if addAlert.chapo %}
      <div class="alert alert-danger" role="alert">
        Rentré un chapo valide
      </div>
    {% endif %}
    {% if addAlert.contenu %}
      <div class="alert alert-danger" role="alert">
        Rentré un contenu valide
      </div>
    {% endif %}
    {% if addAlert.userId %}
      <div class="alert alert-danger" role="alert">
        Rentré un userid valide
      </div>
    {% endif %}
    <form method="post" action="{{url}}" class="needs-validation" novalidate>
      <div class="row">
      <div class="col-6">
        <label for="FormControlInput1">Titre</label>
        <input type="nom" name="titre" class="form-control" id="FormControlInput1" value='{{titre}}' required>
        <div class="invalid-feedback">
          Ce champ est obligatoire.
        </div>
      </div>
      <div class="col-6">
        <label for="FormControlInput2">Chapo</label>
        <input type="prenom" name="chapo" class="form-control" id="FormControlInput2" value='{{chapo}}' required>
        <div class="invalid-feedback">
          Ce champ est obligatoire.
        </div>
      </div>
      <div class="col-6">
        <label for="FormControlInput3">Contenu</label>
        <textarea class="form-control" type="contenu" name="contenu" id="FormControlInput3" required>{{contenu}}</textarea>
        <div class="invalid-feedback">
          Ce champ est obligatoire.
        </div>
      </div>
      <div class="col-6">
        <label for="FormControlInput4">User_id</label>
        <input type="number" name="userId" class="form-control" id="FormControlInput4" value='{{user_id}}' required>
        <div class="invalid-feedback">
          Ce champ est obligatoire.
        </div>
      </div>
      <div class="col text-center mt-4">
      <button type="submit" class="btn btn-secondary">Confirm identity</button>
      </div>
    </div>
    </form>
  </div>
</section>
{% endblock %}