{% extends 'layout.html.twig' %}

{% block content %}
<section> 
  <div class="container py-5 mt-5">
    <h1 class="text-center">Article</h1>
    {% if alert == "success" %}
      <div class="alert alert-success" role="alert">
        La modification à été faite
      </div>
    {% endif %}
    {% if addAlert.titre %}
      <div class="alert alert-danger" role="alert">
        Rentré un titre valide
      </div>
    {% endif %}
    {% if addAlert.chapo %}
      <div class="alert alert-danger" role="alert">
        Rentré un chapo valide
      </div>
    {% endif %}
    {% if addAlert.contenu %}
      <div class="alert alert-danger" role="alert">
        Rentré un contenu valide
      </div>
    {% endif %}
    {% if addAlert.userId %}
      <div class="alert alert-danger" role="alert">
        Rentré un userid valide
      </div>
    {% endif %}
    <form method="post" action="/post/{{url}}" class="needs-validation" novalidate>
      <div class="row">
      <div class="col-6">
        <label for="FormControlInput1">Titre</label>
        <input type="nom" name="titre" class="form-control" id="FormControlInput1" value='{{donnes.titre}}' required>
        <div class="invalid-feedback">
          Ce champ est obligatoire.
        </div>
      </div>
      <div class="col-6">
        <label for="FormControlInput2">Chapo</label>
        <input type="prenom" name="chapo" class="form-control" id="FormControlInput2" value='{{donnes.chapo}}' required>
        <div class="invalid-feedback">
          Ce champ est obligatoire.
        </div>
      </div>
      <div class="col-6">
        <label for="FormControlInput3">Contenu</label>
        <textarea class="form-control" type="contenu" name="contenu" id="FormControlInput3" required>{{donnes.contenu}}</textarea>
        <div class="invalid-feedback">
          Ce champ est obligatoire.
        </div>
      </div>
      <div class="col-6">
        <label for="FormControlInput4">Auteur</label>
        <select class="custom-select" id="FormControlInput4" name="userId" required>
          {% for user in Auteur %}
            {% if select == user.id %}
              <option value={{user.id}} selected>{{user.nom}}</option>
            {% else %}
              <option value={{user.id}}>{{user.nom}}</option>
            {% endif %}
          {% endfor %}
        </select>
        <div class="invalid-feedback">
          Ce champ est obligatoire.
        </div>
      </div>
      <div class="col text-center mt-4">
      <button type="submit" class="btn btn-secondary">Confirm identity</button>
      </div>
    </div>
    </form>
  </div>
</section>
{% endblock %}