{% extends 'layout.html.twig' %}

{% block content %}
    <div class='container text-center pt-5'>
      <div class="row">
        {% if nom is empty %}
          <div class="alert alert-danger pt-5 mt-3" role="alert">
            <h4 class="alert-heading">Nous sommes désolés !</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        {% endif %}
        {% for n in nom %}
          <div class="col-sm-6 pt-5">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">{{n.titre}}</h5>
                <p class="card-text">{{n.chapo}}</p>
                <a href="post/{{n.id}}" class="btn btn-secondary">Voir plus</a>
                {% if access and access >= 2 %}
                  <a href="updatepost/{{n.id}}" class="btn btn-secondary">Modifier</a>
                  {% if access == 3 %}
                  <a href="removepost/{{n.id}}" class="btn btn-secondary">Supprimer</a>
                  {% endif %}
                {% endif %}
              </div>
              <div class="card-footer text-muted">
                Dernière modification: {{n.date}}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}