{% extends 'layout.html.twig' %}

{% block content %}
    <div class='container text-center mt-5 py-5'>
      {% if alert == 'success' %}
        <div class="alert alert-success" role="alert">
          Votre commentaire viens d'être envoyer et doit être valider pas les administrateurs!
        </div>
      {% endif %}
      {% if alert == 'recaptcha' %}
        <div class="alert alert-danger" role="alert">
          Vous devez remplir le reCAPTCHA!
        </div>
      {% endif %}
      {% if alert == 'commentaire' %}
        <div class="alert alert-danger" role="alert">
          Votre commentaire n'est pas valide
        </div>
      {% endif %}
      <div class='row'>
          <div class='col-12'>
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">{{nom.titre}}</h5>
                <p class="card-text"><i>{{nom.chapo}}</i></p>
                <p class="card-text">{{nom.contenu}}</p>
                <p class="card-text">{{nom.user_id}}</p>
                {% if access and access >= 2 %}
                  <a href="/post/updatepost/{{nom.id}}" class="btn btn-secondary">Modifier</a>
                  {% if access == 3 %}  
                    <a href="/post/removepost/{{nom.id}}" class="btn btn-secondary">Supprimer</a>
                  {% endif %}
                {% endif %}
              </div>
              <div class="card-footer text-muted">Dernière modification: {{n.date}}</div>
            </div>
          </div>
      </div>
    </div>
    {% if comment %}
    <div class="container text-center py-5">
      <h2>Commentaire</h2>
      {% for c in comment %}
        <div class="card text-center">
          <div class="card-header">
            Auteur: {{c.user_id}}
          </div>
          <div class="card-body">
            <p class="card-text">{{c.message}}</p>
          </div>
          <div class="card-footer text-muted">Dernière modification: {{c.date}}</div>
        </div>
      {% endfor %}
    </div>
    {% endif %}
  {% if access >= 1 %}
    <div class="container text-center py-5">
      <h2>Ajouter un commentaire</h2>
      <form method="post" class="needs-validation" novalidate action="/post/comment">
        <div class="row">
        <div class="col-12">
          <textarea class="form-control" type="text" name="contenu" id="FormControlInput3" required></textarea>
          <div class="invalid-feedback">
            Ce champ est obligatoire.
          </div>
          <input type="hidden" name="id" value="{{nom.id}}">
        </div>
        <div class=" col-12 text-center mt-4">
          <div class="g-recaptcha" style="display: inline-block;" data-sitekey="6Lcchd8UAAAAAGGYJk2Va2WRULZIRGdYMc3rclaL"></div>
        </div>
        <div class="col text-center mt-4">
        <button type="submit" class="btn btn-secondary">Confirm identity</button>
        </div>
      </div>
      </form>
    </div>
  {% else %}
  <div class="container text-center">
    <h3>Connecter vous pour pourvoir commenter</h3>
    <a class="btn btn-secondary" href="/auth/login">Se connecter</a>
  </div>
  {% endif %}
{% endblock %}